BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000
GOOGLE_CLIENT_ID=483237058616-ot79fjn30qkanfmlimb3nojnp74k6r9v.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
API_BASE_URL=https://api.abcz.workers.dev

# Better Auth Configuration
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000

# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
# Google Callback URL: http://localhost:3000/api/auth/callback/google

# GitHub OAuth
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
# GitHub Callback URL: http://localhost:3000/api/auth/callback/github

# Database
MONGODB_URI=mongodb+srv://Shahadat:<db_password>@cluster0.xzdil8f.mongodb.net/?appName=Cluster0
